@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-public-sans);
  --color-main: var(--main);
  --color-overlay: var(--overlay);
  --color-bg: var(--bg);
  --color-bw: var(--bw);
  --color-blank: var(--blank);
  --color-text: var(--text);
  --color-mtext: var(--mtext);
  --color-border: var(--border);
  --color-ring: var(--ring);
  --color-ring-offset: var(--ring-offset);
  --color-secondaryBlack: #212121;
  --shadow-brutal: 4px 4px 0px 0px var(--border);
}

:root {
  color-scheme: light dark;
  --main: #88aaee;
  --overlay: rgba(0, 0, 0, 0.8);
  --bg: #f4f4f5;
  --bw: #ffffff;
  --blank: #ffffff;
  --text: #09090b;
  --mtext: #09090b;
  --border: #000000;
  --ring: #000000;
  --ring-offset: #ffffff;

  --radius: 5px;
  --background: var(--bg);
  --foreground: var(--text);
  --primary: var(--main);
  --primary-foreground: var(--text);
  --secondary: var(--bw);
  --secondary-foreground: var(--text);
  --muted: #f4f4f5;
  --muted-foreground: #71717a;
  --accent: var(--main);
  --accent-foreground: var(--text);
  --destructive: #ef4444;
  --destructive-foreground: #ffffff;
  --input: var(--bw);
  --popover: var(--bw);
  --popover-foreground: var(--text);
  --card: var(--bw);
  --card-foreground: var(--text);
}

@media (prefers-color-scheme: dark) {
  :root {
    --main: #88aaee;
    --bg: #09090b;
    --bw: #18181b;
    --blank: #000000;
    --text: #f8fafc;
    --mtext: #f8fafc;
    --border: #e2e8f0;
    --ring: #e2e8f0;
    --ring-offset: #09090b;
    --overlay: rgba(0, 0, 0, 0.8);
    --muted: #27272a;
    --muted-foreground: #a1a1aa;
  }
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: var(--font-sans);
}

@layer utilities {
  .focus-brutal {
    @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2;
  }
  .shadow-brutal {
    box-shadow: var(--shadow-brutal);
  }
}
